@font-face {
    font-family: pop;
    src: url(Poppins/Poppins-Medium.ttf);
}

body {

    font-weight: 600;
    font-family: pop;
}

p {
    color: rgb(163, 175, 245);
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgb(155, 122, 201) 0%, #89c2c8 100%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(0, 0, 0);
}

.emoji {
    font-size: 140px;
    padding-left: 50px;
}

.mood {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 24px;
}

.emoji-slider {
    appearance: none;
    border-radius: 40px;
    width: 100%;
    height: 11px;
    max-width: 400px;
    background-color: rgb(171, 146, 230);
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}